# Dataset
archive.zip
dataset/*

# Python env
/venv/
/oculight_env/

# output files 
/subset_dataset/*
!/subset_dataset/dataset_subsetting.py
splits/*
model_checkpoints/*
image_features.pkl
tokenizer.pkl
captioning_model.h5
cleaned_descriptions.txt
