# Dataset
archive.zip
dataset/*

# Python env
/venv/
/oculight_env/

# output files 
/subset_dataset/*
!/subset_dataset/dataset_subsetting.py
image_features.pkl
cleaned_descriptions.txt
image_caption_tokenizers.pkl
splits/*
model_checkpoints/*
captioning_model.h5


